/* Paleta Frescura Minimalista:
#F7F7F7 (Blanco nieve)
#E3E8E5 (Menta muy claro)
#D3E0DC (Verde agua pálido)
#C1CDC9 (Gris azulado claro)
#B0B8B5 (Gris pizarra suave)*/

body{
    overflow-x: hidden;
    margin: 0;
}
.cover-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:#E3E8E5;   
}

.cover-left {
    width: 35%;
}

.cover-title {
    font-size: 10vh; /* Ajusta según necesites */
    margin-bottom: 0vh;
    margin-left: 12%;
}

.cover-paragraph {
    margin-bottom: 2vh;
    font-size: 2.5vh;
    margin-left: 12%;
}

.cover-button {
    padding: 13px 30px;
    background-color: #F57F25;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 7%;
    margin-left: 12%;
    font-size: 2vh;
    border-radius: 25px;

}

.cover-button:hover {
    background-color: #ca7b0d;
}

.cover-right {
    width: 60%;
    display: flex;
    justify-content: center; /* Centra las imágenes horizontalmente */
    align-items: center; /* Centra las imágenes verticalmente */
    position: relative; /* Necesario para posicionar las imágenes de forma absoluta */
}

.image-container {
    position: relative;
    height: 80vh; /* Ajusta según el tamaño deseado */
    width: 100%;
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre las imágenes */
    align-items: center;
    overflow: hidden; /* Evita que el contenido se salga del contenedor */
}

.image-u-reverse, .image-u {
    height: auto;
    object-fit: cover; /* Asegura que la imagen cubra el área designada sin perder proporciones */
}

.image-u-reverse {
    width: 42vh;
    left: 0;
}

.image-u {
    width: 65vh;
    right: 0;
}


.skills-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 13vh;
    background-color: white; /* Ajusta el color de fondo según tu paleta de colores */
}

.skill {
    text-align: center;
    width: 20%; /* Ajusta el ancho según necesites */
}

.skill img {
    width: 100%; /* Ajusta para que la imagen ocupe todo el ancho del contenedor .skill */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}

.skill p {
    font-size: 25px; /* Ajusta el tamaño de fuente según necesites */
    color: #333; /* Ajusta el color del texto según tu paleta de colores */
}

.services-grid {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    padding-top: 20%;
    height: 22vh;
}

.services-container{
    background-image: url("https://scontent-sea1-1.xx.fbcdn.net/v/t39.30808-6/429765206_1150615399263450_5439588863206474613_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=CPJ2ScbClXUAX9ENBMh&_nc_ht=scontent-sea1-1.xx&oh=00_AfCEDT1WEk2qJVedA8LcFRVrwdK8fBSSk5At7PbmfDQ0Zg&oe=65F25EB6");
    background-size: 100% auto; /* Asegura que la imagen cubra todo el contenedor sin deformarse */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en el contenedor */
    position: relative; /* Establece una posición relativa para el contenedor */
    padding-top: 50px;
}

.service-box {
    width: 30%; /* Ajusta este valor según necesites */
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f9f9f9; /* O el color que prefieras */
    border: 1px solid #ddd; /* Opcional */
    border-radius: 5px; /* Opcional */
}

.service-box img {
    width: 100%; /* Asegura que la imagen cubra el ancho del cuadrado */
    height: 60%; /* Ajusta este valor para controlar la altura de la imagen dentro del cuadrado */
    object-fit: cover; /* Para que la imagen cubra bien su espacio sin deformarse */
    border-top-left-radius: 5px; /* Opcional, para mantener la consistencia con el border-radius del cuadrado */
    border-top-right-radius: 5px; /* Opcional */
}

.service-box h3{
    font-size: 1.5rem;
}

.service-box p {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1rem;
    margin-top: 0;
}


.workflowContainer{
    padding-top: 25rem;
}

.workflow-title h2 {
    text-align: center;
    font-size: 6vh;
    margin-bottom: 13vh;
    color: #262362;
}

.workflow-steps {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; /* Asegura que los elementos estén en línea */
    gap: 10px; /* Espacio entre los elementos */
    font-size: 1.5rem;
}

.step {
    text-align: center;
    width: 18%; /* Ajusta según el espacio disponible */
}

.step img {
    width: 70%; /* Asegura que la imagen cubra el ancho del paso */
    height: auto;
}

.arrow {
    font-size: 4.5rem; /* Tamaño de la flecha */
}


.testimonialsContainer{
    margin-top: 15vh;
    height: 80vh;
    overflow: hidden;
    color: #F57F25;
}



.containerCarousel{
    position: absolute;
    max-width: 1000px; /* Máximo ancho del carrusel */
    left: 50%;
    transform: translate(-50%);
    width: 70%;
    height: 75vh; /* Altura basada en el alto de la ventana */
    background: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
    margin-top: 2%;
  }
  
  .containerCarousel .slide .itemCarousel{
    width: 20%;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
  }
  
  .slide .itemCarousel:nth-child(1),
  .slide .itemCarousel:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
  
  
  .slide .itemCarousel:nth-child(3){
    left: 50%;
  }
  .slide .itemCarousel:nth-child(4){
    left: calc(50% + 220px);
  }
  .slide .itemCarousel:nth-child(5){
    left: calc(50% + 440px);
  }
  
  /* here n = 0, 1, 2, 3,... */
  .slide .itemCarousel:nth-child(n + 6){
    left: calc(50% + 660px);
    opacity: 0;
  }
  
  
  
  .itemCarousel .contentCarousel{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #060000;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
  }
  
  
  .slide .itemCarousel:nth-child(2) .contentCarousel{
    display: block;
  }
  
  
  .contentCarousel .name{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
  }
  
  .contentCarousel .des{
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
  }
  
  .contentCarousel button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
    background: black;
    color: #ffffff;
  }
  
  .rating {
    font-size: 18px;
    color: #ffc107; /* Color de las estrellas */
}
  
  @keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }
  
    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
  }
  
  
  
  .button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
   
  }
  
  .button button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
  
  }
  
  .button button:hover{
    background: #ababab;
    color: #fff;
  }

  .testimonials-title h2 {
    text-align: center;
    margin-bottom: 1px;
    font-size: 3rem;
}

.galleryContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 15rem;
    padding-left: 20px;
}

.titleGale{
    font-size: 5rem;
    margin-top: 3rem;
    margin-bottom: 30px;

}

.gallery-left, .gallery-right {
    width: 50%;
}

.view-gallery-btn {
    display: block;
    margin: 20px 0;
    padding: 20px 30px;
    background-color: #5271FF;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.small-images {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    margin-bottom: 2rem;   
}

.small-images img {
    width: 48%; /* Ajusta para que ambas imágenes pequeñas quepan en la mitad del contenedor */
    height: auto;
    margin-bottom: 2rem;   

}

.gallery-right img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.gallery-right p {
    text-align: center;
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 3rem;

}

@media (max-width: 768px) {
    .galleryContainer {
        flex-direction: column;
    }

    .gallery-left, .gallery-right {
        width: 100%;
    }

    .small-images img {
        width: 100%; /* Ajusta para dispositivos más pequeños */
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .testimonials-content {
        flex-direction: column;
    }

    .testimonial-box, .testimonial-image {
        width: 100%;
        margin-bottom: 20px;
    }
}


@media (max-width: 768px) {
    .workflow-steps {
        flex-direction: column;
    }

    .arrow {
        display: none; /* Oculta las flechas en dispositivos pequeños */
    }
}


/* Ajustes para responsividad */
@media (max-width: 768px) {
    .services-grid {
        flex-direction: column;
    }

    .service-box {
        width: 80%; /* Aumenta el ancho para dispositivos más pequeños */
        margin-bottom: 20px; /* Añade espacio entre los cuadrados cuando están apilados */
    }
}

