body{
    overflow-x: hidden;
    margin: 0;
}

.services-header {
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 8% 0;
}

.services-title {
    color: #000000;
    font-size: 4rem;
    display: inline-block;
    padding: 10px 5%;
    border-radius: 5px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    padding: 8% ;
}

.service-item {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 12px 25px rgba(0,0,0,0.1);
    text-align: center;
}

.service-item:hover {
    transform: scale(1.050);
    transition: 0.5s;
}


.service-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.more-info-btn {
    background-color: #F57F25;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.more-info-btn:hover {
    background-color: #ca7b0d;
}
